<%
  const menu =
    typeof activeMenu !== 'undefined'
      ? activeMenu
      : typeof currentActiveMenu !== 'undefined'
      ? currentActiveMenu
      : '';
%>

<li class="<%= menu === 'home' ? 'active' : '' %>">
  <a class="nav-link" href="/">Home</a>
</li>

<li class="<%= menu === 'about' ? 'active' : '' %>">
  <a class="nav-link" href="/about">About Us</a>
</li>

<li class="<%= menu === 'insights' ? 'active' : '' %>">
  <a class="nav-link" href="/insights">Insights</a>
</li>


